/.streamlit
/.langchain.db
/.__pycache__
/__pycache__
/cache
/pandasai.log
/.exports_charts$$
/source.code-workspace
/backend/__pycache__
/backend/classes/__pycache__
/backend/exceptions/__pycache__
/utils/__pycache__
/.logs
/.langchain-cache
/backend/audio/__pycache__
/.svn
/ui/__pycache__
/streamlit_backend/__pycache__
